# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified

# Database
DATABASE_URL=tobemodified
DATABASE_CLIENT=tobemodified
DATABASE_HOST=tobemodified
DATABASE_PORT=tobemodified
DATABASE_NAME=tobemodified
DATABASE_USERNAME=tobemodified
DATABASE_PASSWORD=tobemodified
DATABASE_SSL=false

# Storage
DO_SPACE_PATH=tobemodified
DO_SPACE_ACCESS_KEY=tobemodified
DO_SPACE_SECRET_KEY=tobemodified
DO_SPACE_REGION=tobemodified
DO_SPACE_ENDPOINT=tobemodified
DO_SPACE_BUCKET=tobemodified
SPACE_URL=tobemodified

# S3 Storage (Timeweb Cloud)
# Стандартные переменные для провайдера aws-s3
AWS_ACCESS_KEY_ID=S7KHTINBHYTJ43QTN3FD
AWS_ACCESS_SECRET_KEY=kZWP51IsHAqOrlRPjlKaDzsxxXSIVTOY1Er85RZd
AWS_REGION=ru-1
AWS_BUCKET=ca267def-da732d95-0643-4f16-9b45-ac5073059bf8
AWS_ENDPOINT=https://s3.twcstorage.ru